<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
    <link rel="stylesheet" href="detailMovie.css">
</head>
<body>
    <header>
        <div class="logo">LOGO</div>
        <nav>
            <ul>
                <li><a href="#">Kategorien</a></li>
                <li><a href="#">Beliebte</a></li>
                <li><a href="#">Neuzugänge</a></li>
            </ul>
        </nav>
        <div class="searchbar"><input type="text" placeholder="Searchbar"></div>
    </header>

    <main>
        <a href="index.html" class="back">zurück zur Hauptseite</a>
        <div class="movie-details">
            <div class="movie-info">
                <h2>Titel des Films</h2>
                <div>Dauer des Films</div>
                <div>Kategorien des Films</div>
                <div class="synopsis">Synopse des Films</div>
                <button>Film anschauen</button>
                <button>Trailer anschauen</button>
            </div>
            <div class="movie-cover">Cover des Films</div>
        </div>
    </main>
</body>
</html>
